@font-face {
    font-family: 'Pollos';
    src: url('./JIBurrito.woff') format('woff'), url('./JIBurrito.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

body {
    display: grid;
    grid: 1fr 5fr / 1fr;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

header {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header img {
    width: 200px;
}

header nav {
    display: flex;
    gap: 5vw;
}