:root * {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pollos';
    src: url('./fonts/JIBurrito.woff') format('woff'), url('./fonts/JIBurrito.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

body {
    display: grid;
    grid: 1fr 5fr / 1fr;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    justify-items: center;
    gap: 15px;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

header img {
    width: 200px;
    /* Use margin to fix image being slightly off center due to intrinsic dimensions */
    margin-right: 11.25px;
    transition: 1s;
}

header nav {
    display: flex;
    gap: 5vw;
}

button {
    font-family: 'Pollos';
    cursor: pointer;
    text-align: center;
    padding: 12px 30px;
    font-size: 27px;
    border-radius: 30px;
    border: none;
    background: white;
    color: rgba(190,34,39,255);
    animation: grow 1s;
    transition: 0.2s;
}

button.hover:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.6);
}

button.clicked {
    transform: scale(0.93);
    background: rgba(190,34,39,255);
    color: white;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.8); 
}

/* CONTENT BOX */

#content {
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.6);
    background-color: white;
    transition: 1s;
}

/* HOME PAGE */

.homeContainer {
    width: 800px;
    height: 545px;
    display: grid;
    justify-items: center;
    grid: 1fr 4fr / 1fr 1fr;
    grid-template-areas: 
    "header header"
    "welcome store-front";
    transition: 1s;
    padding: 10px 0;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100%;
    font-weight: normal;
    font-family: 'Pollos';
    color: rgba(190,34,39,255);
    grid-area: header;
    border-bottom: 5px solid rgba(190,34,39,255);
}

.homePageQuote {
    max-height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 40px;
}

.quoteHeader {
    font-family: 'Pollos';
    font-weight: normal;
    text-align: center;
    color: rgba(190,34,39,255);
}

.quote {
    text-align: center;
    font-style: italic;
}

#store {
    width: 100%;
    height: 100%;
    grid-area: store-front;
    background: url('./images/storefront.jpeg') no-repeat center/cover;
    border-radius: 0 0 29px 0;
}

/* MENU PAGE */
.menuContainer {
    min-width: fit-content;
    width: max(350px, 70vw);
    padding: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
}

.menuItem {
    width: 280px;
    height: 260px;
    padding: 10px;
    display: grid;
    grid: 2fr 1fr 1fr / 1fr 2fr;
    grid-template-areas: 
    "title image"
    "description image"
    "price image";
    gap: 5px;
    justify-items: center;
    align-items: center;
    border: 2px dashed rgba(190,34,39,255);
    border-radius: 5px;
}

.menuItem * {
    text-align: center;
}

.menuItem img {
    grid-area: image;
    width: 100%;
}

.itemName {
    margin: 0;
    font-family: 'Pollos';
    color: rgba(190,34,39,255);
    font-size: 1.7rem;
}

.itemDescription {
    font-size: 0.8rem;
    font-weight: 550;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.itemPrice {
    height: fit-content;
    font-size: 1.6rem;
    color: rgba(190,34,39,255);
    font-family: 'Pollos';
}

/* ABOUT PAGE */

.aboutContainer {
    width: max(55vw, 350px);
    min-height: 545px;
    max-height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aboutContainer h3 {
    margin: 0;
    font-weight: 600;
}

.aboutContainer p, .aboutContainer ul {
    font-weight: 200;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
}

.aboutHeader {
    font-family: 'Pollos';
    font-weight: normal;
    text-align: center;
    color: rgba(190,34,39,255);
    margin: 0;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.fringDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    flex: 1;
    min-width: 301px;
}

.fringDiv p {
    max-width: 350px;
}

.fring {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: url('./images/fring.jpeg') center/cover;
}

.contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact li {
    line-height: 75px;
    white-space: nowrap;
}

.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.locationsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.map {
    width: 500px;
    height: 225px;
    border-radius: 10px;
}

.map * {
    animation: none;
}

@media screen and (max-width: 1025px) {
    .map {
        width: 300px;
    }
}

@media screen and (max-width: 815px) {
    header img {
        width: 140px;
    }

    button {
        animation: 1s shrink;
        padding: 8.88px 22.22px;
        font-size: 20px;
    }


    .homeContainer {
        width: 350px;
        height: 800px;
        max-height: fit-content;
        grid: 1fr 4fr 4fr / 1fr;
        grid-template-areas: 
        "header"
        "store-front"
        "welcome";
    }

    #store {
        border-radius: 0;
    }

}

@keyframes shrink {
    0% {
        padding: 12px 30px;
        font-size: 27px;
    }
    100% {
        padding: 8.88px 22.22px;
        font-size: 20px;
    }
}

@keyframes grow {
    0% {
        padding: 8.88px 22.22px;
        font-size: 20px;
    }
    100% {
        padding: 12px 30px;
        font-size: 27px;
    }
}

@keyframes fadeIn {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes fadeOut {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }

    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn .5s;
}

.fadeOut {
    animation: fadeOut .5s;
}